/* Base == */

:root {
    /* Global Values*/
    --main-br-radius: 7px;
    --main-br-radius-x2: 14px;

    /* Colours */
    --main: #202030;
    --secondary: #39304A;
    --accent: rgb(120, 60, 177);
    --accent-secondary: #A1869E;
    --white: #F2F4F3;
}

*, *::before, *::after {
    box-sizing: border-box !important;
    color: var(--white);
}

body {
    font-family: Arial;
    margin: 0; padding-top: 0.5em;
    margin-top: 4em !important;
    min-height: calc(100vh - 4em);
    background-color: var(--main);
}

a {
    background-color: var(--accent);
    padding: 0.5em;
    border-radius: var(--main-br-radius);
    transition: all 0.3s ease-in-out;
}

img { border-radius: var(--main-br-radius-x2); }

input, select, .button, .main{
    border-radius: 0.5em;
    padding: 0.4em;
}

/* CLASSES */

.flex { display: flex; justify-content: space-between; }

*[center] { text-align: center; }

