/* Base Styles */
:root {
    /* Global Values*/
    --main-br-radius: 7px;
    --main-br-radius-x2: 14px;

    /* Colours */
    --main: #202030;
    --secondary: #39304A;
    --accent: #783cb1;
    --accent-secondary: #b338ec;
    --white: #F2F4F3;
}

/* Global Reset */
*, *::before, *::after {
    box-sizing: border-box !important;
    color: var(--white);
}

/* Base Elements */
body {
    font-family: Arial;
    margin: 0.5em;
    padding-top: 0.5em;
    margin-top: 4em !important;
    min-height: calc(100vh - 4em);
    background-color: var(--main);
}

/* Form Elements */
input, select, .button, .main {
    border-radius: 0.5em;
    padding: 0.4em;
    background-color: var(--secondary);
    border: 1px solid var(--accent);
    cursor: pointer;
}

/* Buttons */
[button], button {
    background-color: var(--accent) !important;
    border: none;
    padding: 0.5em;
    border-radius: var(--main-br-radius);
    cursor: pointer;
}

:not(nav) button {
    background-color: var(--secondary) !important;
    border: 1px solid var(--accent) !important;
}

[button]:hover {
    transition: all 0.1s ease-in-out;
    scale: 1.05;
}

/* Links */
a:not([button]) {
    color: var(--accent-secondary)
}

/* Images */
img {
    border-radius: var(--main-br-radius-x2);
}

/* Utility Classes */
.flex {
    display: flex;
    justify-content: space-between;
}

*[center] {
    text-align: center;
}