/* Main Content */
main-element {
    display: block;
    margin: auto;
    margin-block: 2em;
    padding-inline: 0.75em;
    padding-block: 0.5em;
    width: 80vw;
    background-color: var(--secondary);
    border: 1px solid var(--accent);
    border-radius: var(--main-br-radius);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}

/* Welcome Section */
.welcome {
    width: 90vw !important;
    display: flex;
}

[title] {
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

[discography] {
    background-color: rgba(0, 0, 0, 0.3); /* slightly darker */
    * {
        margin:0;
    }
}