/* Navigation */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    z-index: 1000;
    padding-inline: 0.5em;
    background-color: var(--secondary);
    border-bottom: 1px solid var(--accent);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav [button] {
    line-height: 1em;
    text-decoration: none;
    margin: 0.5em;
    margin-top: 0.5em;
}

.settings {
    background-color: var(--secondary);
    position: fixed;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    height: 50vh;
    width: 50vw;
    z-index: 10000;
    border: 1px solid var(--accent);
    border-radius: var(--main-br-radius);
    padding: 1em;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 1);

    img {
        position: absolute;
        bottom:0;
        right: 0;
        width: 25em;
        z-index: 1;
    }

    hr {
        z-index: 0;
    }
}

.settings div{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.settings label {
    margin-right: 1em;
}

.settings.active {
    animation: slide-in 0.25s forwards;
}

.settings.inactive {
    animation: slide-out 0.25s forwards;
}

@keyframes slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 25%;
    }
}

@keyframes slide-out {
    0% {
        left: 25%;
    }
    100% {
        left: 100%;
    }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {

    .nav [button] {
        margin: 0.5em 0.2em;
        float: none;
    }

    .nav {
        display: flex;
        height: 3em;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .settings img{
        width: 7em;
    }

    .settings {
        width: 80vw;
        height: 50vh;
        left: -100%;
        transform: translateX(-70%);
        transform: translateY(-50%);
    }

    @keyframes slide-in {
        0% {
            left: -150%;
        }
        100% {
            left: 10%;

        }
    }

    @keyframes slide-out {
        0% {
            left: 10%;
        }
        100% {
            left: 100%;
        }
    }

}