/* Navigation */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4em;
    z-index: 1000;
    padding-inline: 0.5em;
    background-color: var(--secondary);
    border-bottom: 1px solid var(--accent);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav [button] {
    line-height: 1em;
    text-decoration: none;
    margin: 0.5em;
    margin-top: 0.5em;
}

.settings {
    background-color: var(--secondary);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    width: 50vw;
    z-index: 10000;
    display: none; /* Hide by default */
    padding: 20px;
    border: 1px solid var(--accent);
}

.settings.active {
    display: block;
}

/* Mobile styles */
@media only screen and (max-width: 768px) {

    .nav [button] {
        margin: 0.5em 0.2em;
        float: none;
    }

    .nav {
        display: flex;
        height: 3em;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .settings {
        width: 90vw;
        height: 80vh;
    }
}
