/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid gray;
    text-align: left;
    background-color: var(--almost-black);
}

tr:nth-child(even) {
    background-color: #383838;
}

tr:nth-child(odd) {
    background-color: #242424;
}

/* Lyrics Table */
.lyrics-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.lyrics-item {
    background-color: var(--secondary);
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.hidden-column {
    display: none; /* Gives functionality to the checkboxes in songs.php */
}

/* Form Elements */

.parent {
    display: flex;
    gap: 1rem; /* optional spacing between items */
  }
  
  .parent label {
    display: flex;
    flex: 1;
    align-items: center;
  }
  
  .parent input {
    flex: 1;
    margin-left: 0.5rem; /* space between text and input */
  }

td img {
    max-width: 3em;
    padding:0;
    margin:0;
}

* {
    text-decoration: none;
}