/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid gray;
    border: 1px solid var(--accent);
    text-align: left;
    background-color: var(--almost-black);
}

tr:nth-child(even) {
    background-color: #383838;
    background-color: var(--mainElement);
}
tr:nth-child(odd) {
    background-color: #242424;
    background-color: var(--mainElement);
}

td img {
    max-width: 3em;
    padding: 0;
    margin: 0;
}

table * {
    text-decoration: none;
}

/* Hidden Columns */
.hidden-column {
    display: none;
}

/* Grid Layouts */
.lyrics-grid,
.dictionary-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.lyrics-item,
.dictionary-item {
    background-color: var(--mainElement);
    border: 1px solid var(--accent);
    border-radius: var(--main-br-radius);
    box-shadow: var(--box-shadow);
    padding: 15px;
}

/* Form Elements */
.parent {
    display: flex;
    gap: 1rem;
}
.parent label {
    display: flex;
    flex: 1;
    align-items: center;
}
.parent input {
    flex: 1;
    margin-left: 0.5rem;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .parent {
        flex-direction: column;
    }
    .lyrics-grid {
        padding: 0;
        gap: 0;
    }
    .lyrics-item {
        margin: 0;
    }
}