RewriteEngine On

# Serve /pages/index.php for root URL
RewriteRule ^$ /pages/index.php [L]

# Hide 'pages' from URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /pages/$1 [L]
